* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
canvas {
  height: 100%;
}

html {
  background: #a9ffff;
}

body {
  margin: 0;
}

.code {
  position: absolute;
  background: #24292e;
  padding: 14px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 320px;
  margin: auto;
  left: 0;
  right: 0;
}

.install {
  text-align: center;
  max-width: 350px;
  top: 30%;
}

.example {
  top: 39%;
  max-width: 600px;
  overflow-x: scroll;
}
#leva__root .leva-c-kWgxhW {
  left: 53%;
  top: 68%;
}

@media only screen and (max-width: 600px) {
  #leva__root .leva-c-kWgxhW {
    left: 46%;
    top: 70%;
  }

  #leva__root {
    --leva-sizes-rootWidth: 200px !important;
    --leva-sizes-controlWidth: 100px !important;
  }

  .code {
    border-radius: 0px;
  }
}
